DATABASE_URL="postgresql://USUARIO:SENHA@HOST/DB?sslmode=require"
JWT_SECRET="seu_jwt_secret"
PORT=3333
FRONTEND_URL="http://localhost:3000"

STRIPE_API_KEY="sk_test_..."
STRIPE_PRICE="price_..."
STRIPE_SUCCESS_URL="http://localhost:3000/planos"
STRIPE_CANCEL_URL="http://localhost:3000/planos"
STRIPE_WEBHOOK_SECRET="whsec_..."
